@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  background-color: #1e1e1e;
}

/* Footer START */

footer {
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  padding: 2rem;
  border-top: 1px solid black;
  color: white;
}

.author {
  font-family: 'Berkshire Swash', cursive;
}

.udemy {
  font-size: 1rem;
}

/* Footer END */

.label {
  color: white;
  text-align: center;
}

/* 01 START */

.container-01 {
  margin: 0;
  padding: 0;
  background: #233637;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.diamond span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
}

.diamond span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.diamond span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.diamond span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc7d;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

/* 01 END */
/* 02 START */

.container-02 {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ccc;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #ff3838;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s linear infinite;
}

.heart:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff3838;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
  25% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
  30% { transform: translate(-50%, -50%) rotate(45deg) scale(1.4); }
  50% { transform: translate(-50%, -50%) rotate(45deg) scale(1.2); }
  70% { transform: translate(-50%, -50%) rotate(45deg) scale(1.4); }
  100% { transform: translate(-50%, -50%) rotate(45deg) scale(1); }
}